.modal-overlay {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8392156863);
  display: flex;
  transition: 0.3s cubic-bezier(0.22, 0.6, 0.66, 0.95);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-overlay #delete-wrapper {
  width: 280px;
  height: 140px;
  background-color: #242320;
}
.modal-overlay #delete-wrapper .delete-header-line {
  height: 4px;
  width: 100%;
  background: #a35709;
}
.modal-overlay #delete-wrapper .delete-menu {
  color: #f0e3ca;
  font-size: 18px;
  gap: 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modal-overlay #delete-wrapper .delete-menu .delete-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.modal-overlay #delete-wrapper .delete-menu .delete-buttons .delete-button {
  width: 64px;
  height: 24px;
  background-color: #242320;
  border: 1px solid #a35709;
  color: #f0e3ca;
  border-radius: 4px;
  font-size: 10px;
  cursor: pointer;
}
.modal-overlay #delete-wrapper .delete-menu .delete-buttons .primary-button {
  border: 1px solid #ff8303;
}
.modal-overlay #edit-wrapper {
  width: 90%;
  height: 50%;
  background-color: #242320;
  position: absolute;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  bottom: 0;
  display: flex;
}
.modal-overlay #edit-wrapper .edit-menu {
  padding: 18px;
  color: #f0e3ca;
  font-size: 18px;
  gap: 8px;
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
}
.modal-overlay #edit-wrapper .edit-menu .edit-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
  outline: none;
  font-size: 14px;
}
.modal-overlay #edit-wrapper .edit-menu .edit-inputs .edit-input {
  color: #f0e3ca;
  border: 1px solid #a35709;
  background: #23221f;
  border-radius: 4px;
  height: 32px;
  padding: 0px 9px;
}
.modal-overlay #edit-wrapper .edit-menu .edit-inputs .edit-input:focus {
  outline: none;
  border: 1px solid #ff8303;
}
.modal-overlay #edit-wrapper .edit-menu .edit-inputs #edit-description {
  color: #f0e3ca;
  height: 100%;
  padding: 7px 9px;
}
.modal-overlay #edit-wrapper .edit-menu .edit-inputs #edit-description:focus {
  outline: none;
}
.modal-overlay #edit-wrapper .edit-menu .edit-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.modal-overlay #edit-wrapper .edit-menu .edit-buttons .edit-button {
  width: 64px;
  height: 24px;
  background-color: #242320;
  border: 1px solid #a35709;
  color: #f0e3ca;
  border-radius: 4px;
  font-size: 10px;
  cursor: pointer;
}
.modal-overlay #info-wrapper {
  width: 90%;
  height: 50%;
  background-color: #242320;
  position: absolute;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  bottom: 0;
  display: flex;
}
.modal-overlay #info-wrapper .info-menu {
  padding: 18px;
  color: #f0e3ca;
  font-size: 18px;
  gap: 8px;
  display: flex;
  flex: 1;
  align-items: flex-start;
  flex-direction: column;
}
.modal-overlay #info-wrapper .info-menu .info-header {
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
}
.modal-overlay #info-wrapper .info-menu .info-texts {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
  outline: none;
  font-size: 22px;
}
.modal-overlay #info-wrapper .info-menu .info-texts .info-title {
  word-break: break-all;
  color: #f0e3ca;
  background: #23221f;
  border-radius: 4px;
  padding: 0px 9px;
  font-weight: 600;
}
.modal-overlay #info-wrapper .info-menu .info-texts #info-description {
  font-size: 16px;
  color: #f0e3ca;
  height: 100%;
  padding: 7px 9px;
  word-break: break-all;
}
.modal-overlay #info-wrapper .info-menu .edit-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.modal-overlay #info-wrapper .info-menu .edit-buttons .edit-button {
  width: 64px;
  height: 24px;
  background-color: #242320;
  border: 1px solid #a35709;
  color: #f0e3ca;
  border-radius: 4px;
  font-size: 10px;
  cursor: pointer;
}
.modal-overlay #share-menu {
  position: absolute;
  bottom: 0;
  height: 76px;
  width: 90%;
  background: #1b1a17;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.modal-overlay #share-menu .share-buttons {
  padding: 14px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.modal-overlay #share-menu .share-buttons .share-button {
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #23221f;
  cursor: pointer;
}

.active-screen {
  visibility: visible;
  opacity: 1;
  transition: 0.3s cubic-bezier(0.22, 0.6, 0.66, 0.95);
}/*# sourceMappingURL=Modals.css.map */