$background-color: #1b1a17;
$main-color: #242320;
$accent-active-color: #ff8303;
$accent-color: #a35709;
$light-color: #f0e3ca;
$light-transparent-color: #f0e3caa3;
$dark-background: #000000d6;
$share-button-background: #23221f;

$input-transition: 0.3s ease-out;
$dialogue-transition: 0.3s cubic-bezier(0.22, 0.6, 0.66, 0.95);
